.contacto-flex {
    margin: 4% 0;
}

.formulario {
    display: grid;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 3%;
    grid-template-columns: 1fr;
    grid-template-areas: "contactanos" "nombre" "apellido" "mail" "asunto" "mensaje" "boton";
    @include border (1px, solid, black);
    border-radius: 10px;
    padding: 10px;

    .h2 {
        grid-area: contactanos;
        align-content: center;
    }

    label {
        display: flex;
        flex-direction: column;
        margin: 10px;

        input,
        textarea {
            border: none;
            border-bottom: 1px solid  rgb(23, 23, 23);
            padding: 20px;
        }
    }

    button {
        width: 100px;
        background-color: $bg-color;
        color: $font-color1;
        border-radius: 10px;
        border: none;
        padding: 10px;
        display: flex;
        margin: 0 21px;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: rgb(67, 67, 67);
        }
    }

    label:nth-child(2) {
        grid-area: nombre;
    }

    label:nth-child(3) {
        grid-area: apellido;
    }

    label:nth-child(4) {
        grid-area: mail;
    }

    label:nth-child(5) {
        grid-area: asunto;
    }

    label:nth-child(6) {
        grid-area: mensaje;
    }

    .boton {
        grid-area: boton;
        display: flex;
        justify-content: end;
    }
}

.mapa-div {
    display: none;
}

.contacto-redes {
    margin: auto;
    text-align: center;
    @include border (1px, solid, black);
    border-radius: 10px;
    width: 90%;
    margin-bottom: 2%;
    margin-top: 5%;
    h2 {
        margin-top: 2%;
        font-size: 20px;
    }

    div {
        margin: 5% 0;
        display: flex;
        justify-content: space-between;
        

        a {
            text-decoration: none;
            color: $font-color2;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        img {
            width: 50%;
        }
    }

    }
    

@media (min-width: 768px) {
    .contacto-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;

        .formulario {
            display: grid;
            width: 65%;
            height: 80vh;
            margin: 0;
            margin-left: 1%;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "contactanos contactanos"
                "nombre      apellido "
                "mail        asunto"
                "mensaje     mensaje"
                "-------     boton";

            h2 {
                padding: 5px;
            }
        }
    }

    .mapa-div {
        display: block;
        width: 35%;
        height: 80vh;
        text-align: center;
        @include border (1px, solid, black);
        border-radius: 10px;
        margin: 1%;

        h3 {
            text-align: start;
            margin: 2% 0 0 3%;
        }

        .mapa-img {
            margin: auto;
            width: 90%;
            height: 50vh;
            margin: 3% 0;
        }
    }

    .contacto-redes {
        width: 90%;
        display: flex;
        align-items: center;
        height: 125px;
        margin-top: 0;
        h2 {
            width: 50%;
            margin: 0;
            font-size: 22px;
        }

        div {
            justify-content: space-evenly;
            width: 50%;
            img {
                width: 60%;
            }
        }
        
    }
}

@media (min-width: 1500px) {

    .contacto-redes {
        height: 150px;

        div {
            img {
                width: 120px;
            }
        }
        
    }
}