.header {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin: 0;

  .icono {
    width: 50px;
    margin-left: 10px;

    img {
      width: 100%;
    }
  }

  a {
    text-decoration: none;
    color: $font-color2;
  }

  h1 {
    font-size: 35px;
    text-align: center;
    margin: 10px 0;
    font-weight: 500;
  }

  span {
    font-weight: 300;
    font-style: italic;
    display: none;
  }
}

.navi {
  background-image: radial-gradient($bg-color, $bg-color2);

  .navi-div {

    .btn-mb {
      right: 1%;
      top: -55px;
      font-size: 25px;
      border: none;
    }

    ul {
      height: 100vh;

      li a {
        color: $font-color1;
        text-align: start;
        font-size: 25px;
        transition: .5s;
        padding: 7% 0;

        &:hover {
          color: $font-color1;
          scale: 1.2;
        }
      }
    }

  }



}

@media (min-width: 480px) {
  .header h1 span {
    font-weight: 300;
    font-style: italic;
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .header {
    justify-content: center;
    gap: 15px;
    margin: 5px 0;
    width: 100%;

    .icono {
      width: 70px;
    }

    h1 {
      font-size: 60px;
      margin: 0;
    }
  }

  .navi {
    .navi-div {
      ul {
        width: 100%;
        height: fit-content;
        justify-content: space-evenly;

        li a {
          padding: 0;
          font-size: 18px;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .header {

    .icono {
      width: 100px;
    }

    h1 {
      font-size: 75px;
    }
  }

  .navi {
    .navi-div {
      ul {
        li a {
          font-size: 20px;
        }
      }
    }
  }
}