.banner-mb {
  display: flex;
  width: 100%;
  position: relative;
  line-height: 0;

  img {
    width: 100%;
    display: inline-block;
  }
}

.tienda-mb {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  width: 100%;
  margin: auto;
  background-image: radial-gradient($bg-color,$bg-color2);
  color: $font-color1;
  padding: 1%;

}

.tienda {
  display: none;
}

.carousel-inner .carousel-logo {
  display: none;
}

.precaucion-banner {
  position: relative;

  .precaucion {
    display: none;
    background-image: radial-gradient($bg-color,$bg-color2);
    color: $font-color1;
    font-size: 16px;
    font-weight: 50;
    text-align: center;
    padding: 1% 0;
    margin: 0%;
    width: 100%;
  }

  .precaucion-h2 {
    display: none;
    position: absolute;
    color: $font-color1;
    top: 68%;
    left: 14%;
    font-size: 16px;
    width: 30%;
    text-align: center;
  }

  .precaucion-h3 {
    display: block;
    position: absolute;
    color: $font-color1;
    top: 30%;
    left: 40%;
    font-size: 19px;
    font-weight: 700;
    font-style: italic;
  }

  .banner3-mbf {
    width: 100%;
  }

  .banner3 {
    display: none;
    width: 100%;
  }
}

@media (min-width: 480px) {
  .tienda {
    font-size: 20px;
  }

  .precaucion-banner {
    .precaucion-h3 {
      font-size: 29px;
      font-weight: 800;
      
    }
  }
}

@media (min-width: 768px) {
  .banner-mb {
    display: none;
  }

  .tienda-mb {
    display: none;
  }

  .tienda {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    background-image: none;
    background-color: $bg-color3;
    color: $font-color2;
  }

  .carousel-inner .carousel-logo {
    display: block;
    position: absolute;
    width: 12%;
    top: 32%;
    left: 43.5%;
    z-index: 1000;

    img {
      width: 100%;
    }
  }

  .precaucion-banner {
    .banner3-mbf {
      display: none;
    }

    .banner3 {
      display: inline-block;
    }

    .precaucion {
      display: block;
    }

    .precaucion-h3 {
      display: block;
      top: 23%;
      left: 69.5%;
      font-size: 26px;
      font-weight: 700;
    }
    .precaucion-h2 {
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  .precaucion-banner {
    .precaucion-h3 {
      font-size: 35px;
    }
  }
}

@media (min-width: 1200px) {
  .precaucion-banner {
    .precaucion-h2 {
      font-size: 20px;
    }
    .precaucion-h3 {
      font-size: 40px;
    }
  }
}

@media (min-width: 1400px) {
  .tienda {
    font-size: 30px;
  }
  .precaucion-banner {
    .precaucion {
      font-size: 18px;
      font-weight: 50;
      padding: .5%;
    }
    .precaucion-h3 {
      left: 70%;
      font-size: 45px;
    }
  }
}