.destilados {
  width: 100%;
  filter: saturate(50%);
}

.nosotros {
  text-align: center;
  margin: 1% 10% 4%;

  img {
    width: 200px;
    margin: 5% 0;
  }

  .nosotros-texto {
    margin: 2% 0 5% 0;
    color: $font-color2;
    h2 {
      font-size: 18px;
      text-align: start;
    }

    p {
      text-align: justify;
      font-size: 15px;
      margin-top: 3%;
    }

    h3 {
      text-align: end;
      font-size: 15px;
      margin-top: 5%;
    }
  }
}

@media (min-width: 1024px) {

  .nosotros {
    display: flex;
    gap: 5%;
    align-items: center;
    margin: 0 5%;

    img {
      width: 300px;
      padding-bottom: 40px;
    }

    .nosotros-texto {
      width: 80%;

      h2 {
        margin-top: 5%;
        font-size: 22px;
      }

      p {
        font-size: 18px;
        width: 100%;
      }

      h3 {
        font-size: 19px;
        width: 100%;
      }
    }
  }
}

@media (min-width: 1400px) {
  .nosotros {
    .nosotros-texto {
      h2 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 5%;
      }
      p {
        font-size: 19px;
        width: 95%;
        padding-left: 5%;

      }
      h3 {
        width: 95%;
      }
    }
  }
}
