.titulo {
    font-size: 25px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-image: radial-gradient($bg-color,$bg-color2);
    color: $font-color1;
    margin-top: 0.2%;
    margin-bottom: 0;
    span {
        font-style: italic;
        font-weight: 200;
        font-size: 0;
      }
  }

@media (min-width: 480px) {
    .titulo {
        font-size: 30px;
    }
}
@media (min-width: 768px) {
    .titulo span {
      font-size: 30px;
    }
}